.imagen-contacto {
    // height: 150px;
    // background-color: var(--main-color-1);
    // justify-content: center;
    // align-items: center;
    position: relative;
    margin-bottom: 20px;
    .header-img{
        height: 200px;
        width: 100%;
    }
}
.img-container{
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.goals-values-header{
    width: 100%;
    background-color: #283593;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 20px;
    h3{
        color: white;
        font-weight: bold;
        margin: 0;
        font-size: 3vw;
    }
}
.contenido-contacto {
    background-color: var(--main-color-7);
}