<section class="container">
  <nav class="nav flex-row">
    <a class="nav-link col-6 col-md-3" routerLink="estrategias" routerLinkActive="nav-active"> <span class="nav-text"> Estrategias</span> <i class="fa-solid fa-bullseye"></i></a>
    <a class="nav-link col-6 col-md-3" routerLink="miembros" routerLinkActive="nav-active"> <span class="nav-text"> Miembros</span> <i class="fa-solid fa-people-group"></i></a>
    <a class="nav-link col-6 col-md-3" routerLink="activities" routerLinkActive="nav-active"> <span class="nav-text"> Actividades</span> <i class="fa-solid fa-diagram-project"></i></a>
    <a class="nav-link col-6 col-md-3" routerLink="organigrama" routerLinkActive="nav-active" > <span class="nav-text"> Organigrama</span> <i class="fa-solid fa-sitemap"></i></a>
  </nav>
</section>
