<section class="event-container">
    <div class="img-event-container">
        <img src="./assets/images/activity.jpg" alt="evento">
    </div>
    <div class="event-body">
        <div class="event">
            <div class="description card">
                <h5 class="card-header">DESCRIPCIÓN</h5>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nobis assumenda tempora in explicabo nam voluptatibus delectus dicta ratione culpa expedita, ullam aut amet, possimus, ab autem hic iste perferendis.
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            <div class="sponsor-container">
                <div class="sponsor card">
                    <h5 class="card-header">SPONSORS</h5>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nobis assumenda tempora in explicabo nam voluptatibus delectus dicta ratione culpa expedita, ullam aut amet, possimus, ab autem hic iste perferendis.
                    </div>
                </div>
                <div class="social card">
                    <h5 class="card-header">REDES SOCIALES</h5>
                    <div class="card-body">
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="registration">
            <P>¿Estas interesado en participar?</P>
            <button>Inscribirse</button>
        </div>
        <div class="projection">
            <div class="objectives card">
                <h5 class="card-header">OBJETIVOS</h5>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nobis assumenda tempora in explicabo nam voluptatibus delectus dicta ratione culpa expedita, ullam aut amet, possimus, ab autem hic iste perferendis.
                </div>
            </div>
            <div class="expectations card">
                <h5 class="card-header">ESPECTATIVAS</h5>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nobis assumenda tempora in explicabo nam voluptatibus delectus dicta ratione culpa expedita, ullam aut amet, possimus, ab autem hic iste perferendis.
                </div>
            </div>
        </div>
    </div>
</section>

