.testimonial {
    width: 600px; /* Tamaño fijo para la tarjeta de testimonio */
    height: 300px; /* Tamaño fijo para la tarjeta de testimonio */
    background-color: #3b1b75;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .testimonial-date {
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding-left: 10px;
    }
    .testimonial-divider {
        border-bottom: 2px solid white;
        width: 100%;
        margin-bottom: 10px;
    }
    .testimonial-container{
        display: flex;
        .testimonial-image {
            width: 200px; /* Tamaño fijo para la imagen */
            height: 200px; /* Tamaño fijo para la imagen */
            border: 2px solid #9896d6;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 15px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .testimonial-content {
            width: 400px; /* Tamaño fijo para la imagen */
            height: 200px; /* Tamaño fijo para la imagen */
            h2{
                color: white !important;
            }
            color: white;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 20px; /* Espacio entre la imagen y el contenido */
            .testimonial-name {
                font-size: 20px;
                margin-bottom: 5px;
            }
            
            .testimonial-info {
                margin-bottom: 5px;
                font-weight: normal;
            }
            
            .testimonial-testimony {
                font-size: 18px; /* El tamaño del testimonio se ajustará automáticamente */
                font-weight: normal;
                text-align: center;
                overflow: hidden; /* Oculta el texto que excede el tamaño del contenedor */
                text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto que excede */
            }
        }
    }
    .testimonial-links {
        display: flex;
        justify-content: flex-start; /* Los enlaces estarán alineados a la derecha */
        margin-left: 20px;
        margin-top: 20px;
        width: max-content;
        a{
            color: white;
            text-decoration: none;
            margin-left: 10px; /* Espacio entre los enlaces */
        }
        i{
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 600px) {
    .testimonial{
        width: max-content;
        height: max-content;
        .testimonial-container {
            flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
            .testimonial-image{
                margin-right: 15px;
            }
            .testimonial-content {
                height: max-content;
                width:auto;
                margin-left: 0;
                // width: 100%; /* Hacemos que ambos elementos ocupen todo el ancho disponible */
                margin: 0; /* Quitamos el margen para que ocupen todo el espacio */
                .testimonial-testimony{
                    display: none;
                }
            }
        }
        .testimonial-links {
            width: auto;
            justify-content: center; /* Centramos los enlaces */
            margin-left: 0px; /* Reducimos el espacio superior */
        }
        .testimonial-links a:first-child{
            margin-left: 0px;
        }
    }
}
.modal{
    .modal-dialog{
        display: flex;
        align-content: center;
        --bs-modal-width:650px !important; 
        .modal-content{
            width: max-content;
            background-color: #af9be7 !important;
            .img-event-container{
                width: 100%;
                height: 50vw;
                max-height: 400px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                margin-bottom: 20px;
                border-radius: 10px;
            }
            .testimonial-header{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                .close{
                    height: 45px;
                    text-align: center;
                    color: var(--main-color-1);
                    button{
                        color: var(--bs-light);
                        padding: 7px 10px;
                        background: var(--main-color-2);
                        border: none;
                        border-radius: 50vh;
                        box-shadow: 1px 2px 4px var(--main-color-3);
                    }
                    button:active{
                        box-shadow: none;
                        font-weight: bold;
                    }
                }
                .testimonial-name{
                    color: var(--bs-light);
                    padding: 7px 10px;
                    background: #3b1b75;
                    border: none;
                    border-radius: 50vh;
                    box-shadow: 1px 2px 4px var(--main-color-3);
                }
            }
            .event-body{
                margin: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
                .card-header{
                    color: var(--main-color-1);
                    background-color: var(--opacity-main-color-10);
                    text-align: center;
                    white-space: nowrap;
                }
                .card-footer{
                    background-color: var(--opacity-main-color-20);
                }
                .card-body{
                    background: #ffff;
                    color:  #3b1b75;
                    text-align: justify;
                    display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        justify-content: center;
                    .sponsors{
                        img{
                            width: 50px; 
                            height: 50px;
                            aspect-ratio: auto 50 / 50;
                            gap:20px;
                        }
                    }
                }
                .event, .sponsor-container{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: center
                }
                .sponsor-container{
                    .card{
                        --bs-card-bg: #af9be7 !important;
                        --bs-card-border-width:0 !important;
                    }
                }
                .social{
                    width: 100%;
                    .card-header{
                        background-color: #ffff;
                    }
                    .card-body{
                        display: flex;
                        gap:40px;
                        background: var(--main-color-3);
                        color: var(--bs-light);
                        i{
                            font-size: 40px;
                        }
                    }
                }
                .registration{
                    width: 100%;
                    text-align: center;
                    color: var(--main-color-1);
                    button{
                        color: var(--bs-light);
                        padding: 7px 10px;
                        background: var(--main-color-2);
                        border: none;
                        border-radius: 50vh;
                        width: 200px;
                        box-shadow: 1px 2px 4px var(--main-color-3);
                    }
                    button:active{
                        box-shadow: none;
                        font-weight: bold;
                    }
                }
                .projection{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: center;
                    width: 100%;
                }
                @media (min-width: 600px){
                    .card-body{
                        display: flex;
                        align-items: center;
                    }
                    .description{
                        width: calc(60% - 20px);
                    }
                    .sponsor-container{
                        width: 40%;
                    }
                    .objectives, .expectations{
                        width: calc(50% - 10px);
                    }
                }
            }
        }
    }
}