<section class="section">
    <h1>Nosotros estamos orgullosos de nuestro centro cultural {{areaUrl}} </h1>
    <div class="container">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <h1>MISIÓN</h1>
                </div>
                <div class="card-back">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quibusdam ut animi nulla
                        iure quis doloremque adipisci commodi? Quisquam, perspiciatis ab dolorem commodi repudiandae
                        aliquid mollitia at voluptatibus voluptas repellendus.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <h1>VISIÓN</h1>
                </div>
                <div class="card-back">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem, enim blanditiis
                        corrupti inventore officiis temporibus cumque magnam nihil deserunt quis ut dignissimos,
                        excepturi sunt laborum! Reiciendis consequatur inventore mollitia?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="goals">
        <h2>Nuestros objetivos</h2>
        <img src="./assets/images/icono-object.png" alt="Imagen de objetivos">
    </div>
    <div class="card-container">
        <div class="card-target">
            <div class="icon">
                <img src="./assets/images/icono-object.png" alt="Icono">
            </div>
            <div class="content">
                <div class="circle">
                    <span class="number">1</span>
                </div>
                <div class="rectangle">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="card-target">
            <div class="icon">
                <img src="./assets/images/icono-object.png" alt="Icono">
            </div>
            <div class="content">
                <div class="circle">
                    <span class="number">2</span>
                </div>
                <div class="rectangle">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="card-target">
            <div class="icon">
                <img src="./assets/images/icono-object.png" alt="Icono">
            </div>
            <div class="content">
                <div class="circle">
                    <span class="number">3</span>
                </div>
                <div class="rectangle">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>