.container-fluid {
    background-color: var(--main-color-7);

    .mapa {
        margin-top: 5%;
        padding-left: 5%;
    }
    .informacion-contacto {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin:20px;
        margin: 5% 5% 3% 5%;
        text-align: center;
        .info-ubicanos, .info-telefonia, .info-correo{
            background: #ffff;
            width: 400px;
            height: 120px;
            border-radius: 15px;
        }
        .info-principal {
            font-size: var(--title-font-size-2);
            font-weight: 500;
            margin: 0;
            margin-bottom: 10px;
            color: var(--main-color-1);
        }
        .info-descripcion{
            font-style: normal;
            font-size: var(--title-font-size-4);
            color: var(--main-color-4);
        } 

        i {
            color: var(--main-color-1);
            font-size: var(--title-font-size-2);
        }
    }

}


