<div class="container-fluid">
    <div class="col mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d975.6020547976848!2d-77.0511486!3d-12.0153928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf1939a1a035%3A0x40b55ec11b398d55!2sCentro%20Cultural%20N%C3%BAcleo!5e0!3m2!1ses!2spe!4v1683516920313!5m2!1ses!2spe"
            style="width:95%; height:600px;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="informacion-contacto">
        <div class="col-lg-4 col-md-6 info-ubicanos">
            <p class="text-break info-principal">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                Ubicanos en:
            </p>
            <p class="text-break info-descripcion">
                {{data?.location}} <br>
                {{data?.classroom}}
            </p>
        </div>
        <div class="col-lg-4 col-md-6 info-telefonia">
            <p class="text-break info-principal">
                Central Telefónica <i class="fa fa-phone icono-telefono" aria-hidden="true" ></i> :
            </p>
            <p class="text-break info-descripcion">
                {{data?.phone}}
            </p>
        </div>
        <div class="col-lg-4 col-md-12 info-correo">
            <p class="text-break info-principal">
                Nuestro Correo <i class="fa fa-envelope icono-correo" aria-hidden="true"></i> :
            </p>
            <p class="text-break info-descripcion">
                {{data?.email}}
            </p>
        </div>
    </div>
</div>