<footer class="white-section footer">
    <div class="scroll-to-top-container">
        <hr class="footer-hr">
        <a href="#navbar" class="scroll-to-top"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md">
                <h5 class="footer-heading">Acerca de Núcleo</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="sobrenostros.html">Misión</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="sobrenostros.html">Visión</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            href="sobrenostros.html#organigrama">Organigrama</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="footer-heading">Redes Sociales</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.facebook.com/CentroCulturalNucleo">Facebook</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.youtube.com/@nucleotube6807">Youtube</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.tiktok.com/@centroculturalnucleouni?_t=8d0nqrt8Yh3&_r=1">Tiktok</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.instagram.com/ccnucleo_oficial/">Instagram</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="footer-heading">Contáctanos</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">XXXXXXXXX</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="mailto:ccnucleo.fiis@uni.edu.pe">Escribenos</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <img class="mb-2" src="./assets/images/logo-nucleo.png" alt="" width="50" height="50">
                <small class="d-block mb-3 text-muted">&copy; 2023</small>
            </div>
        </div>
    </div>
</footer>
