
.footer {
    margin-top: 0;
    text-align: center;
    width: 100%;
}

p {
    margin-bottom: 0;
}

.footer-hr {
    border: none;
    height: 5px;
    background-color: #4A3CA6;
}

.scroll-to-top-container {
    position: relative;
}

.scroll-to-top {
    position: absolute;
    font-size: 24px;
    top: -18px;
    background-color: #9896D9;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.scroll-to-top:hover {
    top: -22px;
    background-color: #4A3CA6;
}