.meetings{
    display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 40px;
}
.card{
    .card-body{
        height: 250px;
        text-align: center;
        h3{
            margin-bottom: 10px;
        }
        p{
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    @media(min-width: 700px){
        display: flex;
        flex-direction: row;
        .imagen-container{
            height: 250px;
            width: 300px;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .card-body{
            width: 60%;
        }
    }
}