<section class="meetings">
    <div *ngIf="combinedMeeting.meeting || combinedMeeting.meeting_Image" class="card">
        <div class="imagen-container">
            <img src="{{combinedMeeting.meeting_Image}}" class="card-img-top" alt="reunion">
        </div>
        <div class="card-body">
            <h3>Reunión</h3>
            <p class="card-text">{{combinedMeeting.meeting}}</p>
        </div>
    </div>
    <div *ngIf="combinedMeeting.integration || combinedMeeting.integration_Image" class="card">
        <div class="card-body">
            <h3>Integración</h3>
            <p class="card-text">{{combinedMeeting.integration}}</p>
        </div>
        <div class="imagen-container">
            <img src="{{combinedMeeting.integration_Image}}" class="card-img-top" alt="integracion">
        </div>
    </div>
    <div *ngIf="combinedMeeting.participation || combinedMeeting.participation_Image" class="card">
        <div class="imagen-container">
            <img src="{{combinedMeeting.participation_Image}}" class="card-img-top" alt="participacion">
        </div>
        <div class="card-body">
            <h3>Participación</h3>
            <p class="card-text">{{combinedMeeting.participation}}</p>
        </div>
    </div>
</section>
