<section class="meetings">
    <div class="card">
        <div class="imagen-container">
            <img src="{{meetingImage.metting_image}}" class="card-img-top" alt="reunion">
        </div>
        <div class="card-body">
            <h3>Reunión</h3>
            <p class="card-text">{{meeting.meeting}}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Integración</h3>
            <p class="card-text">{{meeting.integration}}</p>
        </div>
        <div class="imagen-container">
            <img src="{{meetingImage.integration_image}}" class="card-img-top" alt="integracion">
        </div>
    </div>
    <div class="card">
        <div class="imagen-container">
            <img src="{{meetingImage.participation_image}}" class="card-img-top" alt="participacion">
        </div>
        <div class="card-body">
            <h3>Participación</h3>
            <p class="card-text">{{meeting.participation}}</p>
        </div>
    </div>
</section>