<section>
    <div class="card">
        <div class="imagen-container">
            <img src="./assets/images/compartir.jpg" class="card-img-top" alt="compartir">
        </div>
        <div class="card-body">
            <h3>Compartir</h3>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur harum laborum possimus earum tempore ea, at alias? Quo, numquam totam quae vel necessitatibus quisquam et, aut, libero doloribus iusto velit?</p>
        </div>
    </div>
</section>