.img-container{
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.header-container{
    position: relative;
    margin-bottom: 20px;
    .header-img{
        height: 200px;
        width: 100%;
    }
    h1{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var(--bs-light);
        width: 100%;
        text-align: center;
    }

}
.info{
    margin: 20px;
    margin-top: 80px;
    gap: 20px;
    h3{
        text-align: center;
        margin-bottom: 15px;
    }
    .description{
        margin: 20px 0;
        text-align: justify;
    }
    @media(min-width: 1000px){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width: 1200px){
        .description, .description-img{
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.mision-vision{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    margin-top: 80px;
    .card {
        margin-left: auto;
        margin-right: auto;
        background-color: var(--dark-color-7);
        min-width: 300px;
        width: 100%;
        max-width: 550px;
        height: 400px;
        perspective: 1000px;
    }
    .card-front .img-container{
        position: relative;
        height: 100%;
        width: 100%;
    }
    
    .card-inner {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }
    
    .card:hover .card-inner {
        transform: rotateY(180deg);
    }
    
    .card-front,
    .card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
    }
    
    .card-front {
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        background-size: cover;
        background-position: center;
    }
    
    .card-front h1 {
        position: absolute;
        font-size: var(--title-font-size-1);
        margin-top: 30px;
        color: var(--bs-light);
        transform: translateY(-50%);
        text-shadow: var(--shadow-main-color-1);
    }
    
    .card-back {
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        transform: rotateY(180deg);
    }
    
    .card-back p {
        margin: 30px;
        font-size: var(--title-font-size-3);
        color: var(--main-color-1);
    }
}

.goals-values{
    margin: 20px;
    margin-top: 80px;
    .goals-values-header{
        width: 100%;
        background-color: #283593;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 20px;
        border-radius: 20px;
        h3{
            color: white;
            font-weight: bold;
            margin: 0;
            font-size: 3vw;
        }
    }
    .cards{
        margin-top: 40px;
        .card {
            background: none;
            border: none;
            position: relative;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 20px;
            width: 100%;
        }
        
        .icon {
            margin-bottom: 20px;
        }
        
        .icon img {
            width: 200px;
            height: auto;
        }
        
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        
        .circle {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: var(--circule-strategies);
            color: var(--bs-light);
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            margin-bottom: -30px;
        }
        
        .number {
            color: var(--bs-light);
            font-size: 30px;
        }
        
        .rectangle {
            width: 100%;
            height: 300px;
            background-color: var(--card-strategies);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 0;
        }
        
        .rectangle p {
            margin: 30px;
            font-size: var(--title-font-size-3);
            color: var(--main-color-1);
        }
        
        @media (min-width: 800px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            .card {
                width: calc(50% - 10px);
            }
        }
        @media (min-width: 1400px) {
            .card {
                width: 30%;
            }
        }
    }
}

.history{
    text-align: center;
    margin: 20px;
    margin-top: 80px;
    .history-header{
        width: 100%;
        background-color: #283593;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 20px;
        border-radius: 20px;
        h3{
            color: white;
            font-weight: bold;
            margin: 0;
            font-size: 3vw;
        }
    }
}
.organization-chart{
    text-align: center;
    margin: 20px;
    margin-top: 80px;
    .organization-header{
        width: 100%;
        background-color: #283593;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 20px;
        border-radius: 20px;
        h3{
            color: white;
            font-weight: bold;
            margin: 0;
            font-size: 3vw;
        }
    }
}

.statute{
    margin: 20px;
    margin-bottom: 100px;
    text-align: center;
    embed{
        margin-top: 40px;
        max-width: 1200px;
        height: 100vh;
    }
    
}
