<section>
    <header class="header-container">
        <div class="img-container header-img">
            <img src="./assets/images/team-nucleo.jpg" alt="">
        </div>
        <h1>¿QUIENES SOMOS?</h1>
    </header>
    <section>
        <div class="info">
            
            <div class="description">
                <h3>CENTRO CULTURAL NÚCLEO</h3>
                <P>El Centro Cultural Núcleo, es uno de los centro culturales emblemáticos de la Facultad Nacional de Ingeniería Industrial y de Sistemas de la Universidad Nacional de Ingeniería de Perú, con más de 30 años formando líderes capaces de gestionar proyectos, realizar investigación y superarse constantemente ha sido y sigue siendo cuna de profesionales destacados en el ámbito laboral, fomentando el desarrollo de capacidades y habilidades diversas se ha logrado quedar muy bien posicionados en concursos de proyectos estudiantiles a nivel nacional e internacional, buscando siempre la excelencia, el Centro Cultural tiene sus puertas abiertas para aquellas personas con ganas de marcar una diferencia significativas y positiva en la sociedad.alianzas de Núcleo.</P>
            </div>
            <div class="img-container description-img">
                <img src="./assets/images/team-nucleo.jpg" alt="">
            </div>
        </div>
        <div class="mision-vision">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <div class="img-container ">
                            <img src="./assets/images/card.png" alt="">
                        </div>
                        <h1>MISIÓN</h1>
                    </div>
                    <div class="card-back">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quibusdam ut animi nulla
                            iure quis doloremque adipisci commodi? Quisquam, perspiciatis ab dolorem commodi repudiandae
                            aliquid mollitia at voluptatibus voluptas repellendus.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <div class="img-container ">
                            <img src="./assets/images/card.png" alt="">
                        </div>
                        <h1>VISIÓN</h1>
                    </div>
                    <div class="card-back">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem, enim blanditiis
                            corrupti inventore officiis temporibus cumque magnam nihil deserunt quis ut dignissimos,
                            excepturi sunt laborum! Reiciendis consequatur inventore mollitia?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="goals-values">
            <h3>NUESTROS OBJETIVOS</h3>
            <div class="cards">
                <div class="card">
                    
                    <div class="icon">
                        <img src="./assets/images/icono-object.png" alt="Icono">
                    </div>
                    <div class="content">
                        <div class="circle">
                            <span class="number">1</span>
                        </div>
                        <div class="rectangle">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo expedita ullam eos iure enim harum voluptates doloribus vero ex maiores!</p>
                        </div>
                    </div>
    
                </div>
                <div class="card">
                    
                    <div class="icon">
                        <img src="./assets/images/icono-object.png" alt="Icono">
                    </div>
                    <div class="content">
                        <div class="circle">
                            <span class="number">2</span>
                        </div>
                        <div class="rectangle">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo expedita ullam eos iure enim harum voluptates doloribus vero ex maiores!</p>
                        </div>
                    </div>
    
                </div>
                <div class="card">
                    
                    <div class="icon">
                        <img src="./assets/images/icono-object.png" alt="Icono">
                    </div>
                    <div class="content">
                        <div class="circle">
                            <span class="number">3</span>
                        </div>
                        <div class="rectangle">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo expedita ullam eos iure enim harum voluptates doloribus vero ex maiores!</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="goals-values">
            <h3>NUESTROS VALORES</h3>
            <div class="cards">
                <div class="card">
                    
                    <div class="icon">
                        <img src="./assets/images/value-icon.png" alt="Icono">
                    </div>
                    <div class="content">
                        <div class="circle">
                            <span class="number">1</span>
                        </div>
                        <div class="rectangle">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo expedita ullam eos iure enim harum voluptates doloribus vero ex maiores!</p>
                        </div>
                    </div>
    
                </div>
                <div class="card">
                    
                    <div class="icon">
                        <img src="./assets/images/value-icon.png" alt="Icono">
                    </div>
                    <div class="content">
                        <div class="circle">
                            <span class="number">2</span>
                        </div>
                        <div class="rectangle">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo expedita ullam eos iure enim harum voluptates doloribus vero ex maiores!</p>
                        </div>
                    </div>
    
                </div>
                <div class="card">
                    
                    <div class="icon">
                        <img src="./assets/images/value-icon.png" alt="Icono">
                    </div>
                    <div class="content">
                        <div class="circle">
                            <span class="number">3</span>
                        </div>
                        <div class="rectangle">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo expedita ullam eos iure enim harum voluptates doloribus vero ex maiores!</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        
        <div class="history">
            <h3>NUESTRA HISTORIA</h3>
            <app-timeline></app-timeline>
        </div>
        <div class="organization-chart">
            Organigrama
        </div>
        <div class="statute">
            <h3>ESTATUTO</h3>
            <div>
                <embed src="./assets/pdfs/Caso-TOYSA.pdf" type="application/pdf" width="100%">
            </div>
        </div>
    
    </section>
</section>
