<header class="header-container">
    <div class="img-container header-img">
        <img src="assets/images/team-nucleo.jpg" alt="">
    </div>
    <h1><img src="assets/images/logo-nucleo.png" alt="logo" width="200" height="200"></h1>
</header>

<div class="container">
    <div class="left-column">
        <!-- Aquí puedes agregar los botones de redes sociales -->
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCentroCulturalNucleo&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
            width="340" height="500" style="border:none;overflow:hidden" scrolling="no" 
            frameborder="0" allowfullscreen="true" 
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>
    </div>
    <div class="main-column">
        <!-- Contenido principal -->
    </div>
    <div class="right-column">
        <!-- Contenido de la columna derecha -->
    </div>
</div>
