<div class="wrapper">
    <div class="center-line">
    </div>
    <div class="row row-1">
        <section>
            <img class="icon" src="./assets/images/nucleo-icon.png" alt="icon">
            <div class="details">
                <h3 class="title">Title of Section 1</h3>
                <span>1st Jan 2021</span>
            </div>
            <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos
                vero sapiente voluptas debitis dicta dolore.</p>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <img class="icon" src="./assets/images/nucleo-icon.png" alt="icon">
            <div class="details">
                <h3 class="title">Title of Section 2</h3>
                <span>2nd Jan 2021</span>
            </div>
            <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos
                vero sapiente voluptas debitis dicta dolore.</p>
        </section>
    </div>
    <div class="row row-1">
        <section>
            <img class="icon" src="./assets/images/nucleo-icon.png" alt="icon">
            <div class="details">
                <h3 class="title">Title of Section 3</h3>
                <span>3rd Jan 2021</span>
            </div>
            <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos
                vero sapiente voluptas debitis dicta dolore.</p>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <img class="icon" src="./assets/images/nucleo-icon.png" alt="icon">
            <div class="details">
                <h3 class="title">Title of Section 4</h3>
                <span>4th Jan 2021</span>
            </div>
            <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos
                vero sapiente voluptas debitis dicta dolore.</p>
        </section>
    </div>
    <div class="row row-1">
        <section>
            
            <img class="icon" src="./assets/images/nucleo-icon.png" alt="icon">
            <div class="details">
                <h3 class="title">Title of Section 5</h3>
                <span>5th Jan 2021</span>
            </div>
            <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos
                vero sapiente voluptas debitis dicta dolore.</p>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <img class="icon" src="./assets/images/nucleo-icon.png" alt="icon">
            <div class="details">
                <h3 class="title">Title of Section 6</h3>
                <span>6th Jan 2021</span>
            </div>
            <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos
                vero sapiente voluptas debitis dicta dolore.</p>
        </section>
    </div>
</div>