<section class="areas-container">
    <ng-container *ngFor="let area of areas">
        <section>
            <a [routerLink]="area.routerLink">
                <div class="area">
                    <span>AREA DE {{ area.name }}</span>
                    <img [src]="area.imageSrc" alt="">
                </div>
            </a>
            <div class="activities">
                <ng-container *ngFor="let meeting of combinedmeetings">
                    <ng-container *ngIf="meeting.area === area.id">
                        <app-extra-activity class="activity" [combinedMeeting]="meeting"></app-extra-activity>
                    </ng-container>
                </ng-container>
            </div>
        </section>
    </ng-container>
</section>
