<section class="areas-container">
    <section>
        <a routerLink="pmo">
            <div class="area">
                <span>PMO</span>
                <img src="./assets/images/sistemas.jpg" alt="">
            </div>
        </a>
        <div class="activities">
            <app-extra-activity class="activity"></app-extra-activity>
        </div>
    </section>
    <section>
        <a routerLink="investigacion">
            <div class="area">
                <span>INVESTIGACIÓN</span>
                <img src="./assets/images/sistemas.jpg" alt="">
            </div>
        </a>
        <div class="activities">
            <app-extra-activity class="activity"></app-extra-activity>
        </div>
    </section>
    <section>
        <a routerLink="industrial">
            <div class="area">
                <span>INDUSTRIAL</span>
                <img src="./assets/images/sistemas.jpg" alt="">
            </div>
        </a>
        <div class="activities">
            <app-extra-activity class="activity"></app-extra-activity>
        </div>
    </section>
    <section>
        <a routerLink="sistemas">
            <div class="area">
                <span>SISTEMAS</span>
                <img src="./assets/images/sistemas.jpg" alt="">
            </div>
        </a>
        <div class="activities">
            <app-extra-activity class="activity"></app-extra-activity>
        </div>
    </section>
    <section>
        <a routerLink="gth">
            <div class="area">
                <span>GTH</span>
                <img src="./assets/images/sistemas.jpg" alt="">
            </div>
        </a>
        
    </section>
    <section>
        <a routerLink="marketing">
            <div class="area">
                <span>MARKETING</span>
                <img src="./assets/images/sistemas.jpg" alt="">
            </div>
        </a>

    </section>
    <section>
        <a routerLink="logistica">
            <div class="area">
                <span>LOGISTICA</span>
                <img src="./assets/images/sistemas.jpg" alt="">
            </div>
        </a>
        
    </section>
    <section>
        <a routerLink="rrpp">
            <div class="area">
                <span>RRPP</span>
                <img src="./assets/images/sistemas.jpg" alt="">
            </div>
        </a>

    </section>
</section>