.title-container{
    padding: 0;
}
.title-area{
    text-align: center;
    background-color: var(--main-color-1);
    font-size: var(--title-font-size-1);
    color: var(--bs-light);
    padding-top: 30px;
    padding-bottom: 30px;
}